<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <connectionStrings configSource="connectionStrings.local.config" />
  <system.web>
    <compilation debug="true" explicit="false" strict="false" targetFramework="4.7.2" />
    <authentication mode="Windows" />
    <customErrors mode="Off" />
  </system.web>
</configuration>
